@import url('reset.css');

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;

}
.board {
  display: flex;
  background: grey;
  flex-flow: row wrap;
  width: 600px;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.info-container > * {
  margin: 25px 50px;
}

.button {
  background: crimson;
  border-radius: 5px;
  color: white;
  height: 35px;
  width: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  cursor: pointer;
  background: red;
}

div[class*="tile"] {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.tile-red {
  background: red;
}

.tile-blue {
  background: blue;
}



.tile:hover {
  background: white;
}
