@import url("reset.css");

* {
  box-sizing: border-box;
}

body {
}

.container {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
}

.boardContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.gameContainer {
  flex-flow: row;
  flex: 1;
}

.board {
  display: flex;
  background: grey;
  flex-flow: row wrap;
  max-width: 600px;
}

.row {
  display: flex;
  flex-flow: row;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.info-container > * {
  margin: 25px 50px;
}

.buttonContainer {
  display: flex;
}

.buttonContainer > * {
  margin: 10px;
}

.button {
  background: crimson;
  border-radius: 5px;
  color: white;
  height: 35px;
  width: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  cursor: pointer;
  background: red;
}

div[class*="tile"] {
  border: 1px solid black;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.tile-red {
  background: red;
}

.tile-blue {
  background: blue;
}

.tile:hover {
  background: white;
}

.chatContainer {
  display: flex;
  flex-flow: column;
  align-self: flex-end;
  height: 100vh;
  width: 350px;
  border: 1px solid black;
}

.chatForm {
  width: 100%;
  height: 10%;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.messageList {
  display: flex;
  flex-flow: column;
  height: 90%;
  overflow-y: auto;
}

.message {
  display: flex;
  width: 100%;
}

.chatForm__input {
  height: 100%;
  width: 80%;
  resize: none;
}

.chatForm__submit {
  width: 20%;
}
