@import url('reset.css');

* {
  box-sizing: border-box;
}

body {
}

.container {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;

}

.gameContainer {
  flex-flow: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.board {
  display: flex;
  background: grey;
  flex-flow: row wrap;
  width: 600px;
  margin-left: 100px;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.info-container > * {
  margin: 25px 50px;
}

.button {
  background: crimson;
  border-radius: 5px;
  color: white;
  height: 35px;
  width: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  cursor: pointer;
  background: red;
}

div[class*="tile"] {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.tile-red {
  background: red;
}

.tile-blue {
  background: blue;
}

.tile:hover {
  background: white;
}

.chatContainer {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 350px;
  border: 1px solid black;
}

.chatForm {
  width: 100%;
  height: 10%;
}

.messageList {
  display: flex;
  flex-flow: column-reverse;
  height: 90%;
  overflow-y: auto;
}

.message {
  display: flex;
  width: 100%;
}
.chatForm__input {
  height: 100%;
  width: 80%;
}

.chatForm__submit {
  width: 20%;
}